/* The navigation bar */
.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #f9f9f9;
}

/* Main content */
.main {
  margin-top: 150px; /* Add a top margin to avoid content overlay */
}
